.mainPage {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background: #feffdf;
}
.myForm {
  text-align: center;
  margin-top: 50px;
  font-size: large;
  margin-bottom: 30px;
}
.searchEngine {
  width: 30%;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
}
.searchButton {
  text-align: center;
  width: 10%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ef5a5a;
  color: aliceblue;
}
.city {
  display: inline;
}
.temperature {
  text-align: center;
  font-size: x-large;
}
.theLink {
  text-decoration: none;
  color: #ffa952;
}
.cityDate {
  text-align: center;
}
.dayHour {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.weatherCondition {
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}
.forecastOne {
  text-align: center;
}
.forecastTwo {
  text-align: center;
  margin-bottom: 50px;
}
.forecastThree {
  font-weight: bold;
}
.degreeMax {
  color: #ef5a5a;
}
.degreeMin {
  color: blue;
}
.source {
  margin-left: 100px;
}
